<div id="chat-footer" class="row chat-footer">
    <div class="input-group" style="padding-right: 0px;padding-left: 0px;">
        <input class="form-control"
            [(ngModel)]="chatMessageInput"
            type="text"
            (keydown.enter)="chatMessageInput.length == 0 || selectedUser == '' ? null : addChatMessage()"
            [placeholder]="selectedUser == '' ? 'No chat user selected...' : 'Type what ' + selectedUser + ' wants to say !'"/>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="addChatMessage()" [disabled]="chatMessageInput.length == 0 || selectedUser == ''">Send</button>
            <input #imageSelector type="file" accept="image/*" (change)="selectImage($event)" style="display: none"/>
            <button class="btn btn-outline-secondary" (click)="imageSelector.click()" [disabled]="selectedUser == ''">Image</button>
        </div>
    </div>
</div>
