<div *ngIf="message.type == messageType.User || message.type == messageType.Image" class="message message-user">
    <div class="row">
        <div class="font-weight-bold mb-1 col-3">
            {{message.emitter}}
        </div>
        <div class="text-muted small text-nowrap text-right col-9">
            {{message.date}}
        </div>
    </div>
    <div *ngIf="message.type == messageType.User">
        {{message.content}}
    </div>
    <div *ngIf="message.type == messageType.Image">
        <img [src]="message.content" style="max-width: 200px;max-height: 130px;">
    </div>
</div>

<div *ngIf="message.type == messageType.System" class="message message-system">
    [{{message.date}}] System: <i>{{message.content}}</i>
</div>