<div id="main-container" style="background-color: aqua;width: 100%;height: 350px;display: inline-flex;">
    <div id="chat-users-container" style="height: 100%;width: 25%;background-color: blueviolet;overflow: auto;padding: 0px 2px 0px 2px;">
        <!-- Contains each user entry -->
        <div *ngFor="let chatUser of chatUsers; let index = index" style="display: block; width: 100%;">
            <button (click)="selectUser(chatUser)">{{chatUser.username}}</button>
            <button (click)="disconnectUser(index)">disco</button>
        </div>
    </div>
    <div id="chat-container" style="background-color:darkgreen;width: 75%;height: 100%;position: relative;">
        <div #scrollableContainer id="chat-area" style="background-color:darkgrey; width:100%;height: 310px;overflow: auto;">
            <app-message *ngFor="let message of messages" [message]="message"></app-message>
        </div>
        <div id="chat-footer" style="background-color: coral;height: 40px;width:100%;position: absolute;bottom: 0;">
            <label>{{selectedUser}} says: </label>
            <input type="text" [(ngModel)]="chatMessageInput" (keydown.enter)="chatMessageInput.length == 0 || selectedUser == '' ? null : addChatMessage()"/>
            <button (click)="addChatMessage()" [disabled]="chatMessageInput.length == 0 || selectedUser == ''">Send</button>
            <input type="file" accept="image/*" (change)="updateImage($event)" style="display: none" #selectImage/>
            <button (click)="selectImage.click()" [disabled]="selectedUser == ''">Image</button>
        </div>
    </div>
</div>