<div class="row chat-screen-main-container">
    <div #chatUsersContainer id="chat-users-container" class="col-3 chat-users-container">
        <app-chat-user-card
            *ngFor="let chatUser of chatUsers; let index = index"
            [chatUser]="chatUser"
            [index]="index">
        </app-chat-user-card>
    </div>
    <div class="col-9 chat-container">
        <div #chatArea id="chat-area" class="chat-area">
            <app-message *ngFor="let message of messages" [message]="message"></app-message>
        </div>
        <app-chat-footer></app-chat-footer>
    </div>
</div>